body {
  font-family: 'Rubik';
  margin: 0;
  height: 100%;
  width: 100%;
}

.background {
  display: flex;
  justify-content: space-between;
  height: 800px;
  width: 1440px;
  overflow: hidden;
}

.left-side {
  width: 420px;
  height: 700px;
  margin-left: -90px;
  border-bottom-left-radius: 276px;
  border-bottom-right-radius: 276px;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  box-sizing: border-box;
}

.right-side {
  width: 420px;
  height: 680px;
  padding: 0;
  margin: 0;
  margin-right: -185px;
  margin-top: 120px;
  margin-bottom: 0;
  border-top-left-radius: 276px;
  border-top-right-radius: 276px;
  background-color: #F7F5FA;
  box-sizing: border-box;
}

.display {
  width: 815px;
  height: 505px;
  position: absolute;
  left: 20%;
  top: 18%;
  display: flex;
  justify-content: space-between;
}

.phone {
  width: 247px;
  height: 504px;
  border: 10px solid white;
  border-radius: 33px;
  box-sizing: border-box;
  background-color: #F5F3F8;
  position: relative;
  box-shadow: 0 1px 20px 1px #AFAEB3;
}

.text {
  width: 445px;
  align-self: center;
}

.text h1 {
  color: #38264C;
  font-size: 40px;
}

.text p {
  color: #AFAEB3;
  line-height: 25px;
  font-size: 16px;
}

.header-phone {
  position: absolute;
  width: 100%;
  height: 67px;
  background: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.header-upper {
  width: 50%;
  height: 20%;
  justify-self: center;
  top: 0%;
  left: 45%;
  background-color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header-contact {
  margin-top: 3px;
  width: 100%;
  height: 70%;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  row-gap: 15px;
}

.header-contact p {
  margin: 0;
}

.header-menu {
  writing-mode: vertical-lr;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.contact img {
  border: 1px solid white;
  border-radius: 999px;
  width: 16%;
}

.contact-bio {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact-name {
  font-size: 14px;
  font-weight: 500;
}

.contact-status {
  font-size: 11px;
  color: #E4B4FA;
}

.chat-1 {
  position: absolute;
  top: 67px;
  color: #5d4272;
}

.chat-1 p, .reply-1 {
  background-color: #EED9F9;
  color: #5d4272;
  margin-top: 10px;
  margin-left: 8px;
  padding: 8px;
  width: 125px;
  box-sizing: border-box;
  font-size: 8px;
  border-radius: 7px;
  border-bottom-left-radius: 3px;
}

.chat-2 {
  position: absolute;
  justify-content: end;
  top: 155px;
}

.pic-sent {
  display: flex;
  flex-direction: row;
  margin: 15px 8px 15px 84px;
  gap: 8px;
}

.pic-sent img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.response-1, .response-2 {
  background-color: white;
  padding: 8px;
  font-size: 8px;
  box-sizing: border-box;
  color: #6B6B6B;
  box-shadow: 0 1px 6px 0 #D3D3D3;
  border-radius: 7px;
  border-bottom-right-radius: 3px;
}

.response-1 {
  width: 128px; 
  margin-left: 92px;
}

.response-2 {
  width: 80px;
   margin-left: 140px;
}

.chat-3 {
  position: absolute;
  top: 290px;
}

.chat-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 7px;
  border-bottom-left-radius: 3px;
  height: 32px;
  width: 160px;
  padding: 8px;
  margin-left: 8px;
  box-sizing: border-box;
  color: white;
  margin-bottom: 8px;
}

.circle {
  border: 1px solid white;
  border-radius: 999px;
  width: 12px;
  height: 12px;
}

.walk-duration {
  font-size: 8px;
  margin-left: 8px;
  width: 57px;
}

.price {
  margin-left: 40px;
  font-size: 12px;
  font-weight: 500;
}

.reply-box {
  position: absolute;
  top: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
  background-color: white;
  border-radius: 999px;
  width: 210px;
  height: 35px;
}

.reply-box p {
  font-size: 12px;
  color: #AFAEB3;
  margin-left: 16px;
}

.reply-box div {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  background-color: #432C58;
  font-weight: 600;
  padding: 2px 9px;
  box-sizing: border-box;
  color: white;
  margin-left: 65px;
}

@media screen and (max-width: 1024px) {
  .background {
    height: 600px;
    width: 1024px;
  }

  .left-side {
    width:320px;
    height: 500px;
  }

  .display {
    width: 715px;
    height: 405px;
    left: 15%;
  }

  .phone {
    width: 200px;
    height: 415px;
  }

  .header-phone {
    height: 50px;
  }

  .contact-name {
    font-size: 10px;
  }

  .contact-status {
    font-size: 8px;
  }

  .chat-1 {
    top: 50px;
  }

  .chat-1 p, .chat-2 p, .reply-1 {
    font-size: 7px;
    margin-top: 7px;
    margin-bottom: 0;
  }

  .chat-2 {
    top: 125px;
  }

  .pic-sent {
    margin-left: 75px;
    margin-bottom: 2px;
    gap: 4px;
  }

  .pic-sent img {
    width: 30px;
    height: 30px;
  }
  
  .response-1 {
    margin-left: 43px;
  }

  .response-2 {
    margin-left: 91px;
  }

  .chat-3 {
    top: 245px;
  }

  .chat-price {
    height: 25px;
    width: 130px;
    margin-bottom: 0;
    margin-top: 4px;
  }

  .circle {
    width: 10px;
    height: 10px;
  }

  .price {
    margin-left: 15px;
    font-size: 10px;
  }

  .reply-box {
    top: 353px;
    height: 25px;
    width: 163px;
  }

  .reply-box p {
    font-size: 9px;
  }

  .reply-box div {
    margin-left: 50px;
    width: 20px;
    height: 20px;
    padding: 0.7px 7px;
  }
}

@media screen and (max-width: 375px) {
  .background {
    height: 720px;
    width: 375px;
  }

  .left-side {
    width: 350px;
    height: 500px;
  }

  .right-side {
    display: none;
  }

  .display {
    flex-direction: column;
    width: 300px;
    height: 600px;
    align-items: center;
    left: 10%;
    top: 13%;
  }

  .text {
    width: 300px;
    text-align: center;
  }

  .text h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

  .text p {
    font-size: 12px;
    line-height: 18px;
  }
}